.page {
  min-width: 1280px;
}

.header {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  min-width: 1280px;
  box-shadow: 0 5px 7px -4px #ccc;
  font-family: 'DIN Pro Medium', sans-serif;
  font-size: 18px;
  line-height: 25px;
  z-index: 999;
  background-color: white;
}

.container {
  max-width: 1228px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__container {
  align-items: center;
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;
}

.header__caption {
  font-size: inherit;
  font-weight: 500;
}

.header__account {
  background: #FFFFFF;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 25px;
  width: 172px;
  text-align: right;
}

.header__logo {
  height: 30px;
  width: 172px;
  cursor: pointer;
  text-align: center;
}

.main {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
}

.form {
  width: 604px;
}

.form__caption {
  display: block;
  margin: 8px 0 0 0;
  padding: 0 0 0 9px;
}

.form__caption_prompt {
  color: #666666;
  padding-left: 7px;
}

.form__field {
  width: 100%;
  height: 32px;
  padding: 0px 9px 0px 9px;
  background: #EFF5F5;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  font: inherit;
  margin-bottom: 4px;
  color: #666666;
  line-height: 130%;
}

.form__field::-webkit-input-placeholder {color: rgba(102, 102, 102, 0.35);}
.form__field::-moz-placeholder          {color: rgba(102, 102, 102, 0.35);}
.form__field:-moz-placeholder           {color: rgba(102, 102, 102, 0.35);}
.form__field:-ms-input-placeholder      {color: rgba(102, 102, 102, 0.35);}

.form__field_invalid {
  box-shadow: inset 0px 0px 2px rgba(239, 65, 35, 0.35);
}

.form__field_invalid::-webkit-input-placeholder {color: rgba(239, 65, 35, 0.35);}
.form__field_invalid::-moz-placeholder          {color: rgba(239, 65, 35, 0.35);}
.form__field_invalid:-moz-placeholder           {color: rgba(239, 65, 35, 0.35);}
.form__field_invalid:-ms-input-placeholder      {color: rgba(239, 65, 35, 0.35);}

.form__field_half-width {
  width: 292px;
  box-sizing: border-box;
}

.form__field_short-width {
  width: 240px;
}

.form__field_space-before {
  margin-top: 8px;
}

.form__field-select {
  color: rgba(102, 102, 102, 0.35);
  cursor: pointer;
  background: url("../img/chevron_down.svg") calc(100% - 6px) / 20px no-repeat #EFF5F5;
}

.form__field-select[data-selected="true"] {
  color: #666666;
}

.form__field-select[blocked="true"] {
  color: #666666;
  background: #EFF5F5;
  pointer-events: none;
  cursor: default;
}

.form__field-select_invalid {
  color:  rgba(239, 65, 35, 0.35) !important;
  background: url("../img/chevron_down_invalid.svg") calc(100% - 6px) / 20px no-repeat #EFF5F5 !important;
}

.select__option {
  color: #666666;
}

.form__delete-btn {
  height: 32px;
  width: 32px;
  background: url("../img/delete_attr.svg") no-repeat;
}

.form__checkbox-label {
  width: 240px;
  height: 32px;
  color: #666666;
  padding-top: 4px;
  user-select: none;
}

.form__checkbox-input {
  cursor: pointer;
  float: left;
  height: 32px;
  width: 32px;
  background: url("../img/checkbox.svg") no-repeat;
  background-color: #666666;
  box-sizing: border-box;
  margin: -4px 20px 0px 0px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
  float: left;
}

.form__checkbox-input:checked {
  background-color: #7ADFAE;
}

.form__description {
  resize: none;
  line-height: 130%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 136px;
}

.form__description:focus {
  line-height: 130%;
}

.gallery {
  justify-content: flex-start !important;
  margin-left: -20px;
}

.image {
  display: block;
  width: 134px;
  height: 98px;
  border: 1px solid #666666;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 36px;
}

.image__img {
  position: relative;
  left: 0px;
  width: 100px;
  float: left;
}

.image__star-label {
  position: relative;
  top: 0;
  right: 0;
  width: 34px;
  height: 50%;
  margin: 0 0;
  padding: 0 0;
  float: right;
}

.image__star-radio {
  cursor: pointer;
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 100%;
  background: url("../img/star.svg") no-repeat;
  background-color: #666666;
  box-sizing: border-box;
  margin: 0 0;
}

.image__star-radio:checked {
  background-color: #F3D63F;
}

.image__delete-btn {
  position: relative;
  top: 0;
  right: 0;
  height: 50%;
  width: 34px;
  background: url("../img/delete_img.svg") no-repeat;
  background-color: #EF4123;
}

.gallery__add-btn-label {
  height: 32px;
  width: 32px;
  background: url("../img/add_img.svg") no-repeat;
  margin-left: 20px;
  margin-top: 0;
  cursor: pointer;
}

.preview {
  height: 700px;
  width: 604px;
  background: #EAFCFF;
  border: 1px solid #EF4123;
  box-sizing: border-box;
  border-radius: 5px;
}

.preview__btn {
  font-family: 'DIN Pro Medium', sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  height: 40px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #EAFCFF;
  text-align: center;
  padding-bottom: 3px;
  box-sizing: border-box;
}

.preview__btn-save {
  position: relative;
  left: 156px;
  top: 650px;
  width: 136px;
  background: #1685FF;
  float: left;
}

.preview__btn-save-and-post {
  position: relative;
  top: 650px;
  right: 10px;
  width: 282px;
  background: #7ADFAE;
  float: right;
}